# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/OpenGL_Learning_Project.slnx/v18
/.vs/OpenGL_Learning_Project.slnx
*.vcxproj
OpenGL_Learning_Project/OpenGL_Learning_Project.vcxproj.filters
/OpenGL_Learning_Project/x64
OpenGL_Learning_Project/OpenGL_Learning_Project.vcxproj.user
x64/Debug/OpenGL_Learning_Project.pdb
